<ul class="nav nav-list sidebar affix">
  <li class=""><a href="#"><i class="icon-chevron-right"></i> All <span class="badge">101</span></a></li>
  <li class=""><a href="#"><i class="icon-chevron-right"></i> Tech <span class="badge">1</span></a></li>
  <li class=""><a href="#"><i class="icon-chevron-right"></i> News <span class="badge">1</span></a></li>
  <li class=""><a href="#"><i class="icon-chevron-right"></i> Dev <span class="badge">1</span></a></li>
  <li class=""><a href="#"><i class="icon-chevron-right"></i> World <span class="badge">1</span></a></li>
  <li class=""><a href="#"><i class="icon-chevron-right"></i> Local <span class="badge">1</span></a></li>
  <li class=""><a href="#"><i class="icon-chevron-right"></i> Dogs <span class="badge">1</span></a></li>
</ul>
